* {
    margin: 0;
    padding: 0;
    
}
.big-box{
    border: 1px solid black;
    max-width: 600px; /* Set your desired max width */
    width: 100%;
    margin: 0 auto; 
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-item {
    flex: 1;
    padding: 10px;
    max-width: 500px; /* Set your desired max width */
    width: 100%;
    margin: 0 auto; 
  }